<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sundoq-My Account</title>
    <meta name="description" content="">
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="icon"
        type="image/png"
        href="/img/icon.png">
    <link href="~/js/jquery-ui-1.11.0.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/js/jquery-ui-1.11.0.custom/jquery-ui.min.css" rel="stylesheet" />
    <meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/less/custom.css">
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="~/js/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="~/js/HegabLoader.js"></script>
    <script src="~/screen_scripts/InviteGmailFriends.js"></script>
</head>
<body class="yo-anim-enabled">
    <img src="~/img/ajax-loader.gif" id="displaybox" style="display: none;" />
    <section id="mini-navbar" class="main-navbar hidden-xs hidden-sm">
        <div class="nav">
            <div class="container">
                <div class="row">
                    <nav class="col-md-12">
                        <div class="logo pull-left">
                            <a href="/">
                                <figure>
                                    <img src="/img/logo.png" alt="MniamTheme" />
                                </figure>
                            </a>
                        </div>
                        <ul class="main-nav pull-right nav-height">
                            <li>
                                <a href="/user/home" data-hover="" class="">Home</a>
                            </li>
                            <li>
                                <a href="/user/index" data-hover="" class="">My Account</a>
                            </li>
                            <li>
                                <a href="/user/history" data-hover="" class="">History</a>
                            </li>
                            <li>
                                <a href="/user/logout" data-hover="" class="">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div id="mobile-nav" class="visible-xs visible-sm navbar-fixed-top">
        <div class="" id="flyout-container">
            <ul id="menu-mobile" class="nav flyout-menu main-nav nav-height">
                <li class="menu-item">
                    <a href="/user/home" data-hover="" class="">Home</a>
                </li>
                <li class="menu-item">
                    <a href="/user/index" data-hover="" class="">My Account</a>
                </li>
                <li class="menu-item">
                    <a href="/user/history" data-hover="" class="">History</a>
                </li>
                <li class="menu-item">
                    <a href="/user/logout" data-hover="" class="">Logout</a>
                </li>
            </ul>
        </div>
        <header>
            <div class="container">
                <ul class="menu-header">
                    <li class="pull-left">
                        <a href="/">
                            <figure>
                                <img src="/img/icon.png" style="height: 40px; margin-top: 20px;" alt="MniamTheme" />
                            </figure>
                        </a>
                    </li>
                    <li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
        </header>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <section id="contact" class="main-section light-section">
        @*<header class="section-header clearfix">
            <h1 class="pull-right dark-header">My Account</h1>
        </header>*@
        <div class="container">
            <div class="col-md-12 acc contenttab">
                <div id="msg" class="alert alert-success hidden">Your friends have been invited successfully</div>
                <div class="input-wrapper">
                    <input type="checkbox" value="Select All" id="SelectAll" />
                    <label for="SelectAll" style="color: #CC3400;font-size:12px;">Select All</label>
                </div>
                @{
                    int counter = 0;
                    foreach (string mail in ViewBag.Mails)
                    {
                    <div class="input-wrapper">
                        <input type="checkbox" name="mails[]" value="@mail" id="@counter" />
                        <label style="font-size:12px;" for="@counter">@mail</label>
                    </div>
                        counter++;
                    }
                }
                <div class="input-wrapper">
                    <input type="button" id="InviteFriendsBtn" value="Invite Friends" class="btn btn-default pull-right button-send btn-lg">
                </div>
            </div>
        </div>
    </section>

    <section id="footer" class="">
        <div class="container">
            <div class="row">
                <nav class="col-md-12">
                    <ul class="pull-right footer-nav">
                        <li>Contact us | help-me@sundoq.com
                        </li>
                    </ul>
                    <div class="pull-left copyright">Copyright 2014 © <a href="http://Sundoq.com" title="Sundoq INC">Sundoq</a></div>
                </nav>
            </div>
        </div>
    </section>
    <div class="gallery-wrapper"></div>
    <script src="/js/enquire.js"></script>
    <script src="/js/jquery.imagesloaded.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/transit.js"></script>
    <script src="/js/transition.js"></script>
    <script src="/js/scrollspy.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
