<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sundoq-We Are Sorry</title>
    <link rel="icon"
        type="image/png"
        href="/img/icon.png">
    <meta name="description" content="">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/less/custom.css">
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <script src="/screen_scripts/index.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
</head>
<body class="yo-anim-enabled" style="padding:0;">
    <section id="mini-navbar" class="main-navbar hidden-xs hidden-sm">
        <div class="nav">
            <div class="container">
                <div class="row">
                    <nav class="col-md-12">
                        <div class="logo pull-left">
                            <a href="/">
                                <figure>
                                    <img src="/img/logo.png" alt="MniamTheme" />
                                </figure>
                            </a>
                        </div>
                        <ul class="main-nav pull-right nav-height">
                            @*<li>
                                <a href="index.html#features" data-target="#features" data-hover="features" class="current-home-page">Features</a>
                            </li>
                            <li>
                                <a href="index.html#about" data-target="#about" data-hover="about" class="home-page">About</a>
                            </li>
                            <li>
                                <a href="index.html#contact" data-target="#contact" data-hover="contact" class="home-page">Register</a>
                            </li>
                            <li>
                                <a href="/home/login">Login</a>
                            </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div id="mobile-nav" class="visible-xs visible-sm">
        <div class="" id="flyout-container">
            <ul id="menu-mobile" class="nav flyout-menu main-nav nav-height">
                @*<li class="menu-item">
                    <a title="" href="index.html" data-target="#about" class="home-page">About</a>
                </li>
                <li class="menu-item">
                    <a title="" href="index.html" data-target="#features" class="home-page">Features</a>
                </li>
                <li class="menu-item">
                    <a title="" href="index.html" data-target="#contact" class="home-page">Register</a>
                </li>
                <li class="menu-item">
                    <a href="/home/login">Login</a>
                </li>*@
            </ul>
        </div>
        <header>
            <div class="container">
                <ul class="menu-header">
                    <li class="pull-left">
                        <a href="/">
                            <figure>
                                <img src="/img/icon.png" style="height: 40px; margin-top: 20px;" alt="MniamTheme" />
                            </figure>
                        </a>
                    </li>
                    <li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
        </header>
    </div>
    <section id="home" class="" style="height:570px;">
        <section id="navbar" class="main-navbar yo-anim yo-anim-fade-ttb" data-animation-delay="1500">
            <div class="nav hidden-xs hidden-sm">
                <div class="container">
                    <div class="row">
                        <nav class="col-md-12">
                            <div class="logo pull-left">
                                <a href="/">
                                    <figure>
                                        <img src="/img/logo.png" alt="MniamTheme" />
                                    </figure>
                                </a>
                            </div>
                            <ul class="main-nav pull-right">
                                @*<li>
                                    <a href="#features" data-target="#features" data-hover="features" class="current-menu home-page">Features</a>
                                </li>
                                <li>
                                    <a href="#about" data-target="#about" data-hover="about" class="home-page">About</a>
                                </li>
                                <li>
                                    <a href="#contact" data-target="#contact" data-hover="contact" class="home-page">Register</a>
                                </li>
                                <li>
                                    <a href="/home/login">Login</a>
                                </li>*@
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="home-carousel-wrapper">
            <div id="home-carousel" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-sm-8 slide-content">
                                <header class="yo-anim yo-anim-fade" data-animation-delay="200">
                                    <h2>Sorry !</h2>
                                </header>
                                <div class="slide-text clearfix">
                                    <p class="yo-anim yo-anim-fade" data-animation-delay="400">
                                        <strong>something went wrong</strong>, Please <a style="color:#00024a;" href="/Home/Index">click here</a> to return to home page and try again.
                                        <br />
                                        if you need any help please send us at help-me@sundoq.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <svg id="bg-polygon" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 102" preserveAspectRatio="none">
                <polygon points="0,0 100,0 80,70 0,100 " />
            </svg>
            <svg id="bg-triangle-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,0 100,0 100,100"></polygon>
            </svg>
        </div>
    </section>

    

    <section id="footer" class="">
        <div class="container">
            <div class="row">
                <nav class="col-md-12">
                    <ul class="pull-right footer-nav">
                        @*<li>
                            <a href="index.html#features" data-target="#features" data-hover="features" class="home-page">Features</a>
                        </li>
                        <li>
                            <a href="index.html#about" data-target="#about" data-hover="about" class="home-page">About</a>
                        </li>
                        <li>
                            <a href="index.html#contact" data-target="#contact" data-hover="contact" class="home-page">Register</a>
                        </li>*@
                    </ul>
                    <div class="pull-left copyright">Copyright 2014 © <a href="http://Sundoq.com" title="Sundoq INC">Sundoq</a></div>
                </nav>
            </div>
        </div>
    </section>

    <div class="gallery-wrapper"></div>
    <script src="/js/enquire.js"></script>
    <script src="/js/jquery.imagesloaded.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/transit.js"></script>
    <script src="/js/transition.js"></script>
    <script src="/js/scrollspy.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
