@{
    ViewBag.Title = "Sundoq-Stay Updated!";  
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sundoq-Stay Updated!</title>
    <link rel="icon"
        type="image/png"
        href="/img/icon.png">
    <meta name="description" content="">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="less/custom.css">
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <script src="/screen_scripts/index.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="~/js/HegabLoader.js"></script>
</head>
<body class="yo-anim-enabled" style="padding:0;">
    <section id="mini-navbar" class="main-navbar hidden-xs hidden-sm">
        <div class="nav">
            <div class="container">
                <div class="row">
                    <nav class="col-md-12">
                        <div class="logo pull-left">
                            <a href="/">
                                <figure>
                                    <img src="/img/logo.png" alt="MniamTheme" />
                                </figure>
                            </a>
                        </div>
                        <ul class="main-nav pull-right nav-height">
                            <li>
                                <a href="index.html#features" data-target="#features" data-hover="features" class="current-home-page">Features</a>
                            </li>
                            <li>
                                <a href="index.html#about" data-target="#about" data-hover="about" class="home-page">About</a>
                            </li>
                            <li>
                                <a href="index.html#register" data-target="#register" data-hover="contact" class="home-page">Register</a>
                            </li>
                            <li>
                                <a href="/home/login">Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div id="mobile-nav" class="visible-xs visible-sm">
        <div class="" id="flyout-container">
            <ul id="menu-mobile" class="nav flyout-menu main-nav nav-height">
                <li class="menu-item">
                    <a title="" href="index.html" data-target="#about" class="home-page">About</a>
                </li>
                <li class="menu-item">
                    <a title="" href="index.html" data-target="#features" class="home-page">Features</a>
                </li>
                <li class="menu-item">
                    <a title="" href="index.html" data-target="#register" class="home-page">Register</a>
                </li>
                <li class="menu-item">
                    <a href="/home/login">Login</a>
                </li>
            </ul>
        </div>
        <header>
            <div class="container">
                <ul class="menu-header">
                    <li class="pull-left">
                        <a href="/">
                            <figure>
                                <img src="/img/icon.png" style="height: 40px; margin-top: 20px;" alt="MniamTheme" />
                            </figure>
                        </a>
                    </li>
                    <li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
        </header>
    </div>
    <section id="home" class="">
        <section id="navbar" class="main-navbar yo-anim yo-anim-fade-ttb" data-animation-delay="1500">
            <div class="nav hidden-xs hidden-sm">
                <div class="container">
                    <div class="row">
                        <nav class="col-md-12">
                            <div class="logo pull-left">
                                <a href="/">
                                    <figure>
                                        <img src="/img/logo.png" alt="MniamTheme" />
                                    </figure>
                                </a>
                            </div>
                            <ul class="main-nav pull-right">
                                <li>
                                    <a href="#features" data-target="#features" data-hover="features" class="current-menu home-page">Features</a>
                                </li>
                                <li>
                                    <a href="#about" data-target="#about" data-hover="about" class="home-page">About</a>
                                </li>
                                <li>
                                    <a href="#register" data-target="#register" data-hover="contact" class="home-page">Register</a>
                                </li>
                                <li>
                                    <a href="/home/login">Login</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <div class="home-carousel-wrapper">
            <div id="home-carousel" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-sm-8 slide-content">
                                <header class="yo-anim yo-anim-fade" data-animation-delay="200">
                                    <h2>Stay Updated!</h2>
                                </header>
                                <div class="slide-text clearfix">
                                    <p class="yo-anim yo-anim-fade" data-animation-delay="400">
                                      <b>SUNDOQ is your morning coffee.</b> 
                                        <br />In one place, follow and read your favourite topics from around the web. 
                                        <br/>Rid your inbox of newsletters overload, and keep social media for socializing!
                                    </p>
                                    <div class="app-buttons yo-anim yo-anim-fade" data-animation-delay="1200">
                                        <a href="#register" class="btn-default">Try it Now</a>
                                        <a href="/home/login" class="btn-outline-light">Login</a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-1 col-sm-4">
                                <figure class="hidden-xs yo-anim yo-anim-fade" data-animation-delay="800">
                                    <img src="img/app.png" alt="">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <svg id="bg-polygon" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 102" preserveAspectRatio="none">
                <polygon points="0,0 100,0 80,70 0,100 " />
            </svg>
            <svg id="bg-triangle-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,0 100,0 100,100"></polygon>
            </svg>
        </div>
    </section>

    <section id="features" class="main-section light-section">
        <header class="section-header clearfix">
            <h1 class="pull-right yo-anim yo-anim-fade-rtl">Features</h1>
        </header>
        <div class="container features-content clearfix">
            <div class="row equal">
                <div id="features-carousel">
                    <div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="100">
                        <a href="gallery.html" class="open-overlay feature-hover">
                            <i class="icon-feed"></i>
                            <i class="icon-feed icon-hover hidden-xs"></i>
                        </a>
                        <h3>Follow Websites</h3>
                        <p>Easily follow and unfollow websites to stay updated about all their new topics</p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="300">
                        <a href="gallery.html" class="open-overlay feature-hover">
                            <i class="icon-tag"></i>
                            <i class="icon-tag icon-hover hidden-xs"></i>
                        </a>
                        <h3>Follow Tags & Topics</h3>
                        <p>Interested about selective topics; digital marketing, NBA, healthy living? Follow your interests and never miss a piece.</p>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 feature item yo-anim yo-anim-fade" data-animation-delay="500">
                        <a href="gallery.html" class="open-overlay feature-hover">
                            <i class="icon-screen-smartphone"></i>
                            <i class="icon-screen-smartphone icon-hover hidden-xs"></i>
                        </a>
                        <h3>One Place, Any Platform</h3>
                        <p>On your Desktop, Tablet or mobile, read all your favourite content through <strong>SUNDOQ</strong>, and find your reading history</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="video-section" style="position: relative" class="main-section section-color hidden">
        <div class="container">
            <header class="yo-anim yo-anim-fade" data-animation-delay="200">
                <!--<i class="fa fa-play"></i>-->
                <h2>We should build a video for Sundoq</h2>
            </header>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="video-section yo-anim yo-anim-fade" data-animation-delay="400">
                        <div class="video-content" id="embed">
                            <!--<iframe src="//player.vimeo.com/video/91496760?portrait=0&title=0&byline=0&badge=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="play"></div>
        <svg id="bg-triangle" class="bg-polygon hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon points="0,0 100,0 0,100"></polygon>
        </svg>
        <svg id="bg-triangle-xs" class="bg-polygon visible-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon points="0,0 100,0 100,100"></polygon>
        </svg>
    </section>

    <section id="about" class="main-section light-section">
        <header class="section-header clearfix">
            <h1 class="pull-left yo-anim yo-anim-fade-ltr">About</h1>
        </header>
        <div class="container">
            <div class="row about-section">
                <div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4 about-screen">
                    <figure class="yo-anim yo-anim-fade-ltr" data-animation-delay="200">
                        <img src="img/app.png" alt="" />
                    </figure>
                </div>
                <div class=" col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-8">
                    <div class="about-content">
                        <i class="icon-question yo-anim yo-anim-fade" data-animation-delay="700"></i>
                        <div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
                            <h3>Your Problem!</h3>
                            <p>
                                Do you have a problem following all your favourite topics and news on the web?
                                Newsletters kill your inbox? Social Media are jammed with so much stuff? 
                                and other available tools are 
                                not accurate enough to help you follow exactly what you like ?
                            </p>
                        </div>
                    </div>
                    <div class="about-content">
                        <i class="icon-emoticon-smile yo-anim yo-anim-fade" data-animation-delay="700"></i>
                        <div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
                            <h3>SUNDOQ solves it!</h3>
                            <p>
                                A platform that enables you to follow only the  
                                sources and tags you like. You can always unfollow any sources or tags 
                                to enhance your experience.
                            </p>
                        </div>
                    </div>
                    <div class="about-content">
                        <i class="icon-diamond yo-anim yo-anim-fade" data-animation-delay="700"></i>
                        <div class="about-text yo-anim yo-anim-fade" data-animation-delay="1000">
                            <h3>And it's brilliant!</h3>
                            <p>
                                A well-crafted algorithm works on sorting articles according to their recentness
                                , popularity, and relevancy to your interests. 
                                And yet, you still have the option to just see the most recent articles.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="register" class="main-section light-section">
        <header class="section-header clearfix">
            <h1 class="pull-right dark-header">Register</h1>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 contact-form">
                    <form name="reg-form" id="reg-form" class="form">
                        <div id="msg" class="alert alert-success hidden"></div>
@*                        <div class="col-md-12 hidden" style="text-align: center;">
                            <a style="cursor:pointer" onclick="fb_login()">
                                <img src="~/img/facebook-signup-button.png"></a>
                            <br />
                            <br />
                            Or
                            
                        </div>
                        <div class="col-md-12">
                            <hr />

                        </div>*@
                        <div class="input-wrapper">
                            <input class="contact-form form-name-error" type="text" placeholder="Your email address" name="email" id="email">
                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="input-wrapper">
                            <input class="contact-form form-subject-error" type="password" placeholder="Your password" name="password" id="password">
                        </div>
                        <div class="input-wrapper">
                            <input class="contact-form form-subject-error" type="password" placeholder="Confirm your password" name="confirm_password" id="confirm_password">
                        </div>
                        <div class="button-submit btn-submit">
                            <input id="reg-form-btn" type="submit" value="Register" class="btn btn-default pull-right button-send btn-lg">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="footer" class="">
        <div class="container">
            <div class="row">
                <nav class="col-md-12">
                    <ul class="pull-right footer-nav">
                        <li>
                            Contact us | help-me@sundoq.com
                        </li>
                    </ul>
                    <div class="pull-left copyright">Copyright 2014 © <a href="http://Sundoq.com" title="Sundoq INC">Sundoq</a></div>
                </nav>
            </div>
        </div>
    </section>

    <div class="gallery-wrapper"></div>
    <script src="js/enquire.js"></script>
    <script src="js/jquery.imagesloaded.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/tooltip.js"></script>
    <script src="js/transit.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/scrollspy.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
