<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sundoq-Login</title>
    <meta name="description" content="">
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="icon"
        type="image/png"
        href="/img/icon.png">
    <meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/less/custom.css">
    <script src="http://connect.facebook.net/en_US/sdk.js"></script>
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <script src="/screen_scripts/login.js"></script>
    <script src="~/js/HegabLoader.js"></script>
</head>
<body class="yo-anim-enabled">
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TSJ9LX"
            height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TSJ9LX');</script>
    <!-- End Google Tag Manager -->
    <section id="mini-navbar" class="main-navbar hidden-xs hidden-sm">
        <div class="nav">
            <div class="container">
                <div class="row">
                    <nav class="col-md-12">
                        <div class="logo pull-left">
                            <a href="/">
                                <figure>
                                    <img src="/img/logo.png" alt="Sundoq" />
                                </figure>
                            </a>
                        </div>
                        <ul class="main-nav pull-right nav-height">
                            <li>
                                <a href="/home#features" data-target="#features" data-hover="features" >Features</a>
                            </li>
                            <li>
                                <a href="/home#about" data-target="#about" data-hover="about" >About</a>
                            </li>
                            <li>
                                <a href="/home
                                    " data-target="#register" data-hover="register">Register</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <div id="mobile-nav" class="visible-xs visible-sm  navbar-fixed-top">
        <div class="" id="flyout-container">
            <ul id="menu-mobile" class="nav flyout-menu main-nav nav-height">
                <li class="menu-item">
                    <a title="" href="/" data-target="#about" >About</a>
                </li>
                <li class="menu-item">
                    <a title="" href="/" data-target="#features" >Features</a>
                </li>
                <li class="menu-item">
                    <a title="" href="/" data-target="#register" >Register</a>
                </li>
            </ul>
        </div>
        <header>
            <div class="container">
                <ul class="menu-header">
                    <li class="pull-left">
                        <a href="/">
                            <figure>
                                <img src="/img/icon.png" style="height: 40px; margin-top: 20px;" alt="Sundoq" />
                            </figure>
                        </a>
                    </li>
                    <li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
        </header>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <section id="contact" class="main-section light-section">
        <header class="section-header clearfix">
            <h1 class="pull-right dark-header">Sign In</h1>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 contact-form">
                    <form id="login-form" name="login-form" class="form">
                        <div id="msg" class="alert alert-success hidden"></div>
                       <div class="col-md-12" style="text-align: center;">
                            <a href="javascript:fb_login();">
                                <img src="~/img/facebook-login-button.png"></a>
                           <a href="javascript:tw_login('@ViewBag.TwitterLoginUrl')">
                                <img src="~/img/twitter-login-button.png"></a>
                            <br />
                            <br />
                            Or
                            
                        </div>
                        <div class="col-md-12">
                            <hr />

                        </div>
                        <div class="input-wrapper">
                            <input class="contact-form form-name-error" type="text" placeholder="Your email address" name="email" id="email">
                        </div>
                        <div class="input-wrapper">
                            <input class="contact-form form-subject-error" type="password" placeholder="Your password" name="password" id="password">
                        </div>
                        <div class="button-submit btn-submit">
                            <input type="submit" id="log-form-btn" value="Sign In" class="btn btn-default pull-right button-send btn-lg">
                        </div>
                        <div class="button-submit btn-submit">
                            <a href="/user/sendreset">Did you forgot your password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="footer" class="">
        <div class="container">
            <div class="row">
                <nav class="col-md-12">
                    <ul class="pull-right footer-nav">
                        <li>
                            Contact us | help-me@sundoq.com
                        </li>
                    </ul>
                    <div class="pull-left copyright">Copyright 2014 © <a href="http://Sundoq.com" title="Sundoq INC">Sundoq</a></div>
                </nav>
            </div>
        </div>
    </section>

    <div class="gallery-wrapper"></div>
    <script src="/js/enquire.js"></script>
    <script src="/js/jquery.imagesloaded.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/transit.js"></script>
    <script src="/js/transition.js"></script>
    <script src="/js/scrollspy.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
