<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Technology" value="#Technology#Microsoft#Iphone#Apple#Software#Tablet#Mobile#App#Website#Internet" />
    <add key="Business" value="#Business#Enterprenuer#Startup#Money#Bank#Financial#Stock" />
    <add key="Health" value="#Health#Life Style#Healthy food#Work out#Diet#Food#Women#Make up#Cooking" />
    <add key="News" value="#News#USA#Middle East#War#Peace#World#Africa#Asia#Europe#Terrorist" />
    <add key="Sources" value="#CMS Wire#INC#Forbes#Tech Crunch#Clickza#Enterprenuer#Shopify#SEO Takeaways#WordStream#Variety#Koozai #AllFacebook  #Health#Hireology#Glassdoor#CNNMoney#Reuters - Business#Reuters - Politics#Reuters - Sports#Reuters - U.S.#Businessweek#Huffingtonpost Business#Huffingtonpost - Money#Financial Times#The Economist - Business#MOZ" />
    <add key="IndexMsg" value="You can move trough topics using left/right arrows" />
    <add key="TopicMsg" value="" />
    <add key="AccountMsg" value="You can follow or unfollow tags and sources to enhance your experience" />
    <add key="HistoryMsg" value="We are moving all topics you read from your feeds to here to make it easier for you" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="\,?" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="SundooqDBEntities" connectionString="metadata=res://*/Models.SundooqDB.csdl|res://*/Models.SundooqDB.ssdl|res://*/Models.SundooqDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.187.56.132;initial catalog=SundooqDB;user id=sa;password=deltasa@2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SundooqDBEntities1" connectionString="metadata=res://*/Models.SundooqDB.csdl|res://*/Models.SundooqDB.ssdl|res://*/Models.SundooqDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.187.56.132;initial catalog=SundooqDB;user id=sa;password=deltasa@2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SundooqDBEntities2" connectionString="metadata=res://*/Models.SundooqDB.csdl|res://*/Models.SundooqDB.ssdl|res://*/Models.SundooqDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.187.56.132;initial catalog=SundooqDB;user id=sa;password=deltasa@2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>